<!DOCTYPE html>
<html lang="es">

<head>

<meta charset="iso-8859-1">
<meta name="description" content="Ejemplo de HTML5">
<meta name="keywords" content="HTML5, CSS3, JavaScript">

<title>Telefonica</title>

<!-- Latest compiled and minified CSS -->


</head>

<body>

<div class="row">
  <div class="col-md-8">
 
   <%= image_tag "slide.jpeg",:class => "img-responsive",:alt => "User Image "%>	
  </div>
  
</div>

<div class="row">
  <div class="col-md-8">
  
  <%= image_tag "fondo.jpg",:class => "img-responsive",:alt => "User Image "%>
  </div>
  
  <div class="col-md-4">
    
    <p class="login-box-msg"><%= image_tag "logo.png",:class => "img-responsive",:alt => "User Image "%></p>
    
    
 <div class="login-box">
 
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p> La sesión ha sido cerrada. Hasta la próxima. </p>
	<p><%= link_to "Volver a ingresar", :controller => "test_sesiones", :action => "iniciar_sesion" %></p>

    <!-- /.social-auth-links -->

  </div>
  <!-- /.login-box-body -->
</div>
    
  </div>
  
  </div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>

</html>

